*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  min-height: 100%;
  font-family: 'Open Sans', sans-serif;
}
body {
  background: linear-gradient(50deg, #f3c680, hsla(179,54%,76%,1));
}

/*--------------------
Buttons
--------------------*/
.btn {
  display: block;
  background: hsl(86, 76%, 71%);
  color: hsl(0, 0, 100);
  text-decoration: none;
  margin: 20px 0;
  padding: 15px 15px;
  border-radius: 5px;
  position: relative;
}

.btn::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all .2s ease-in-out;
  box-shadow: inset 0 3px 0 hsla(0, 0, 0, 0), 0 3px 3px hsla(0, 0, 0, .2);
  border-radius: 5px;
}

.btn:hover::after {
  background: hsla(0, 0, 0, 0.1);
  box-shadow: inset 0 3px 0 hsla(0, 0, 0, 0.2);
}

/*--------------------
Form
--------------------*/
.form fieldset {
  border: none;
  padding: 0;
  padding: 10px 0;
  position: relative;
  clear: both;
}

.fieldset-expiration {
  float: left;
  width: 60%;
}

.fieldset-expiration .select {
  width: 84px;
  margin-right: 12px;
  float: left;
}

.fieldset-ccv {
  clear: none;
  float: right;
  width: 86px;
}

label {
  display: block;
  text-transform: uppercase;
  font-size: 11px;
  color: hsla(0, 0, 0, .6);
  margin-bottom: 5px;
  font-weight: bold;
  font-family: Inconsolata;
}

input,
.select {
  width: 100%;
  height: 38px;
  color: hsl(0, 0, 20);
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
  outline: none !important;
  border: 1px solid hsla(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 4px hsla(0, 0, 0, 0.2);
}

.input-cart-number {
  width: 82px;
  display: inline-block;
  margin-right: 8px;
}

.input-cart-number:last-child {
  margin-right: 0;
}

/* Flatten other nested rules */
